 /* GENERAL */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, h1, h2, nav, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  main{
    height: 100%;
  }
  
  /* NAVBAR */
  header {
    background: #a86454;
    color: #fff;
    padding: 1rem 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .logo {
    height: 50px;
  }

  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-left: 1.5rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #020202;
  }
  
  h1 {
    text-align: center;
    margin: 2rem 0;
    color: #333;
  }
  
  .section {
    background-color: #ffffff;
    border: solid black 10px;
  }

  /* CAROUSEL */
  :root {
    --gap-width: 20px;
    --slide-width: 500px;
    --slide-height: 250px;
    --slide-bg-color: rgba(18, 92, 251, 0.52);
    --overlay-bg-color: rgba(0, 0, 0, 0.5);
    --overlay-text-color: #fff;
    --overlay-transition: opacity 0.3s ease;
    --border-radius: 20px;
  }
  
  .carousel {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    gap: var(--gap-width);
    animation: scroll var(--scroll-duration) linear infinite;
    padding: 50px;
  }
  
  .slide {
    background: var(--slide-bg-color);
    flex: 0 0 var(--slide-width);
    height: var(--slide-height);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
  }

  .overlay p{
    width: 90%;
    z-index: 50;
  }
  
  .slide:hover .overlay {
    opacity: 1;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * var(--total-width)));
    }
  }
  
  .carousel:hover .carousel-track {
    animation-play-state: paused;
  }
  
  /* FORMULAIRE*/
.form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .form label {
    display: block;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .form button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form button:hover {
    background-color: #ff6347;
  }

/* ACCUEIL, première section */

.bloc-logo {
  position: relative;
  width: 100%;
  height: 300px; /* Ajustez la hauteur selon vos besoins */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #EB3349, #F45C43); /* Dégradé à appliquer sur le texte */
  -webkit-background-clip: text; /* Permet au fond de remplir le texte */
  background-clip: text;
  color: transparent; /* Cache le texte réel */
}

.first_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 5%;
  background-color: #f7f7f7;
}

.first_section_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.first_section_text h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #333;
  line-height: 1.2;
  font-weight: bold;
}

.first_section_text p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-top: 1rem;
}

.first_section_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_section img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Styles pour les animations AOS */
[data-aos] {
  transition-property: transform, opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}


/* ACCUEIL, deuxième section */

.second_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 80px 0;
  flex-wrap: wrap; /* Ajout pour s'assurer que les éléments s'adaptent à des écrans plus petits */
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Taille fixe pour les conteneurs d'image pour alignement centré */
}

.image-container img {
  border-radius: 50%;
  width: 100%; /* Ajustement pour que l'image prenne la totalité de la largeur du conteneur */
  height: auto;
  transition: transform 0.5s;
}

.title-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: rgba(0, 0, 0, 0.6); /* Ajout d'un arrière-plan semi-transparent pour une meilleure lisibilité */
  color: white; /* Couleur du texte */
  padding: 0.5rem 1rem; /* Padding pour l'arrière-plan */
  border-radius: 10px; /* Coins arrondis */
  transition: opacity 0.5s;
}

.image-container:hover .title-hover {
  opacity: 1;
}

.image-container:hover img {
  transform: scale(1.2);
}

/* ACCUEIL, troisième section CARD */

#last_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 5%;
  background-color: #f4f4f4;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  width: 300px;
  background-color: white;
  transition: transform 0.2s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 3rem;
  margin: 0;
  color: #333;
  text-align: center;
}

.card .percentage {
  font-size: 2rem;
  margin: 0;
  color: #333;
  text-align: center;
}

.card p {
  font-size: 1.25rem;
  margin: 1rem 0;
  color: #666;
  text-align: center;
}

.card .paragraphe_source {
  font-size: 0.875rem;
  color: #999;
  text-align: center;
  margin-top: 1rem;
}

.odometer {
  font-size: 3rem;
  color: #333;
}



/* ARTICLES */

#menu-articles li {
  margin: 50px;
}

#menu-articles a {
  color: #ffffff;
  background-color: #292D3E;
  border: 1px solid #a86454;
  border-radius: 4px;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition:  0.8s;
}
#menu-articles a:hover{
  background: #a86454;
  color: white;
}

#menu-articles a:active{
  background-color: #292d3e;
  background-size: 100%;
  transition:  0s;
}

/* FAQ */

.faq {
  padding: 30px
}

.accordeon_item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.accordeon_item:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

.accordeon_header {
  background-color: #bdbcd1;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordeon_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: #f9f9f9;
  padding: 0 20px;
}

.accordeon_content img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
}

.accordeon_content p {
  margin: 0;
  padding: 20px 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.accordeon_content a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

.accordeon_content a:hover {
  text-decoration: underline;
}

.accordeon_item.active .accordeon_content {
  max-height: 1000px; /* Adjust based on your content length */
  padding: 20px;
}


.myFirstChart {
  height: 50vh;
  width: 50vw; 
  max-width: 100%; 
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background: #a86454;
  color: #fff;
}

.footer-logo {
  height: 50px;
}

footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-left: 1.5rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem; /* Augmentation de la taille des icônes */
  transition: color 0.3s;
}

footer ul li a:hover {
  color: #ff6347; 
}

footer ul li p {
  margin: 0;
}

